.about-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e18d2c; /* light gray background */
   
}

.about-main {

    max-width: 600px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff; /* white background */
    border: 1px solid #ddd; /* light gray border */
    box-shadow: 0 0 10px #004242; /* subtle shadow */
 
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  
}

.about-title {
    font-size: 20px;
    color:black;
    margin-bottom: 10px;
}

.about-description {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.mission-statement, .our-story, .team {
    background-color: #f0984f; /* light gray background */
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd; /* light gray border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.mission-statement h2, .our-story h2, .team h2 {
    font-size: 15px;
    color:black;
    margin-bottom: 10px;
}

.team-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.team-member {
    margin: 13px;
    width: 200px; /* set width for team member cards */

}

.team-photo {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 10px;
    color: black;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
}
