.footer-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #ffffff;
}

.footer-main {
    background-color: #d4a359;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 225px;


}

.footer-container-main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 300px;
    padding-top: 10px;
}

.footer-section-main {
    flex: 1;
    margin: 0 10px;
}

.footer-section-main h2,
.footer-section-main h3 {
    margin-bottom: 15px;
}

.footer-section-main p {
    margin: 5px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.footer-section-main p img {
    margin-right: 15px;
    width: 44px;
    height: 44px;
}

.footer-section-main a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section-main a:hover {
    text-decoration: underline;
}

.social-icons-main a {
    margin-right: 10px;
}

.social-icons-main img {
    width: 54px;
    height: 54px;
}
