* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-body, .home-html {
    font-family: Arial, sans-serif;
    height: 100%;
    color: white;
    background-color: whitesmoke;
}

/* Header styles */
.home-header {
    height: 100px;
    background-color: #ea8c44;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home-header .home-logo {
    font-size: 24px;
    font-weight: bold;
}
.home-logo img{
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

.home-header nav ul {
    list-style: none;
    display: flex;
    gap: 150px;

}

.home-header nav ul li {
    position: relative; /* Added position relative for the dropdown */
}

.home-header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    display: block;
}

.home-header nav ul li ul.dropdown {
    background: #004242;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 500;
}

.home-header nav ul li ul.dropdown li a {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    display: block;
}

.home-header nav ul li:hover ul.dropdown {
    display: block;
}

.home-header .home-auth {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.home-header .home-Logout {
    background-color: whitesmoke;
    color: #004242;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size:20px;
}